# ide
.idea/
.vs/
.vscode/

# dependencies
node_modules/

# test/coverage
.nyc_output/
coverage/

# SDK init script generated helper files
config/channel-capabilities.json
config/channel-capabilities.yaml
config/docs-template.json
